.modal-header{
    border-bottom: none;
}

.modal-footer{
    justify-content: center;
    border-top: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px !important;
}